<mat-toolbar>
    <h1>
        <a routerLink="/">Online Shop(Admin panel)</a>
    </h1>
    <span class="spacer"></span>
    <div>
        <a mat-button [routerLink]="['/admin','dashboard']" routerLinkActive="active">Dashboard</a>
        <a mat-button [routerLink]="['/admin','add']" routerLinkActive="active">Add product</a>
        <a mat-button [routerLink]="['/admin','orders']" routerLinkActive="active">Orders</a>
        <a mat-button href="#" routerLinkActive="active">Logout</a>
    </div>
    <ng-template #login>
        <ul>
            <li routerLinkActive="active">
                <a [routerLink]="['/admin','login']">Login</a>
            </li>
        </ul>
    </ng-template>

</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>