<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ product.title}}
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <div class="flex-center">
            <quill-view-html [content]="product.photo"></quill-view-html>
        </div>

        Price: {{product.price}} $
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button [routerLink]="['/product', product.id]">Open</button>

        <button mat-stroked-button [routerLink]="['/cart']" (click)="addProduct(product)">Add to cart</button>
    </mat-card-actions>

</mat-card>